@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  height: 6rem;
  background-color: rgb(183, 208, 255);
}

html {
  background-color: black;
}

#header a {
  text-decoration: none;
  color: #000;
}

.planets-segment {
  text-align: center;
  padding: 40px;
}

button {
  padding: 8px;
}

.planets-card-container {
  padding: 40px;
  margin-top: 50px;
  min-height: 200px;
}

.item {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
  /* background-image: url(./images/3_tatooine_400x400.png); */
  border-radius: 50%;
  box-shadow: rgba(114, 112, 112, 0.2) 0px 8px 24px;
}

/* .img {
  background-image: url(./images/3_tatooine_400x400.png);
  background-size: 100px;
} */
